@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body{
	min-height: 500px;
	background-color: #fafafa;
}

body, 
button, 
input, 
textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-color: #ffffff;
}

.mbl{
	margin-bottom:20px;
}
.mbm{
	margin-bottom: 10px;
}

ul{
	list-style-type: none;
	padding:0;
	margin: auto;
	
}
.lsy{
	border:none;
	border-top: 1px solid rgba(0,0,0,.125); 
	padding: 0.25rem 0.0rem;
}
.childalign-options{
	overflow-x:  auto;
}
a{
	font-size: 24px;
	text-decoration: none;
	color: #abb0b5;

}
a:hover{
	text-decoration: none;
	color: #6689ad;
}
img{
	
	width: 70%;
	height: 70%;
	margin-left: 10%;

}

input[type="number"]{
	height:40px;
	width: 80px;
	margin-right: 20px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
}


label{
	font-size: 18px;
	font-weight:600;
	margin-right: 20px;
	margin-bottom: 10px;

}

.main-container{
	margin-top:1vh;
	padding: 30px;
	padding-bottom: 10px;
	background-color: #ffffff;

}
.page-header{
	/*margin-top: 10px;*/
	display:flex;
	flex-wrap:;
	padding: 30px;
	background-color: #ffffff;
	margin-bottom:20px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
.page-header .logo{
	font-family: 'Bree Serif', serif;
	font-size: 3em;
}
.page-header .tagline{
	font-family: 'Bree Serif', serif;
	font-size: 2em;
	margin-left: 40px;
}
.card{
	width: 100%;
	min-height: 500px;
	padding: 10px;
	margin-bottom: 20px;
	border-width: 2px;
}
.card-title{
	font-size: 1.4em;
	font-weight: 600px;
}

.parent-test-div-container{
	max-width:450px;
	overflow-y: auto;
}
.parent-test-div{
	height: 100px;
	width: 100px;
	border-radius: 10px;
	margin:5px;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.purple{
	background-color: purple;
}
.orange{
	background-color: orange;
}


/*Parent*/
.parent-direction,
.parent-wrap,
.parent-justify,
.parent-alignitems,
.parent-aligncontent{
	display:flex;
}
.parent-justify{
	max-width: 100%
}
.parent-alignitems, 
.parent-aligncontent{
	height: 400px;
	padding:20px;
}
.parent-alignitems .parent-test-div, 
.parent-aligncontent .parent-test-div{
	min-height: 100px;
	height: auto;
}
.parent-aligncontent{
	flex-wrap: wrap;
}

/*Child */


.child-test-div-container{
	max-width:100%;
	overflow-y: auto;
}
.child-test-div{
	height: 100px;
	width: 100px;
	border-radius: 10px;
	margin:5px;
}
.xyz{
	display: flex;
}
.child-flexshrink .child-test-div{
	width: 150px;
}
.child-align{
	height: 300px;
	align-items: center;
}
.child-align .green{
	height: 200px;


}

.parent-test-div,
.child-test-div{
	display: flex;
	justify-content: center;
}
.test-div-text{
	align-self: center;
	font-size:1.6em;
	color: #ffffff;
}

.description{
	margin-top:20px;
}

.description, 
.types{
	font-size: 20px;
	line-height: 24px;
}

@media only screen and (max-width: 900px) {
	.page-header .logo{
		font-size: 2em;
	}
	.page-header .tagline{
		font-size: 1.6em;
		margin-left: 20px;
	}
}
