body{
	min-height: 500px;

}

body, 
button, 
input, 
textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
}

ul{
	list-style-type: none;
	padding:0;
	margin: auto;
}


.main-container{
	margin-top: 1vh;
	padding: 50px;
}
.card{
	width: 100%;
	min-height: 500px;
	padding: 10px;
	margin-bottom: 20px;
	border-width: 2px;
}
.card-title{
	font-size: 1.5em;
	font-weight: 600px;
}
.parent-test-div-container{
	max-width:450px;
}
.parent-test-div{
	height: 100px;
	width: 100px;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.purple{
	background-color: purple;
}
.orange{
	background-color: orange;
}

.parent-direction,
.parent-wrap,
.parent-justify,
.parent-alignitems,
.parent-aligncontent{
	display:flex;
}
.parent-justify{
	max-width: 100%
}
.parent-alignitems, 
.parent-aligncontent{
	height: 300px;
}
.parent-alignitems .parent-test-div, 
.parent-aligncontent .parent-test-div{
	min-height: 100px;
	height: auto;
}
.parent-aligncontent{
	flex-wrap: wrap;
}